.gallery-select-filtr-header {
    border: none;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  justify-content: space-around;
}

.gallery-list-pagination {    
    
    text-align: center;
    .pagination-sm {
        display: inline-block;
    }
    
}

.gallery-actions-bar {
    border: none;
    border-bottom: 1px solid #f3f3f3;
    img {
        width: 20px;
        height: 20px;
        margin: 2px;
    }
}

.gallery-pagination {
    text-align: center;
    .pagination-sm {
        li {
            a {
                color: black;
                border: none;
            }            
            font-size: 1em;
        }
        .active {
            a {
                color: white;
                background: lightgray !important;    
            }            
        }
    }    
}
